/* Alap stílusok a két részhez */
body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#left {
    width: 50%;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 2px solid #ccc;
    overflow-y: scroll;
}

#right {
    width: 50%;
    padding: 20px;
    overflow-y: auto;
    position: sticky;
    top: 0;


}

#file-content {
    display: block;  /* Alapértelmezetten látható */
    white-space: pre-wrap;  /* A fájl tartalmát szétvágja, ha túl hosszú */
    word-wrap: break-word;
    background-color: #eaeaea;
    padding: 10px;
}

#file-content.hidden {
    display: none;  /* Ha el van rejtve */
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.lenyilo-container {
    width: 100%;
    font-family: Arial, sans-serif;
    cursor: pointer;
  }
  
  .rovid-szoveg {
    font-weight: bold;
    color: #007BFF;
  }
  
  .hosszabb-szoveg {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: #333;
  }
  
  .hosszabb-szoveg.nyitott {
    max-height: 200px; /* Elég nagy érték, hogy látszódjon a teljes szöveg */
  }
  
  .kodos-lista {
    font-family: Consolas, monospace;
    background-color: #f5f5f5;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    list-style-type: decimal;
    line-height: 1.6;
    font-size: 14px;
    margin: 20px 0;
    border: 1px solid #ccc;
  }



.kodos-lista li {
  margin-bottom: 10px;
  margin-left: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
  }

#pdfkep {
  width: 100%;      /* a div szélességéhez igazodik */
  height: 100%;     /* a div magasságát kitölti */
  object-fit: contain; /* belefér, de nem vágja le */
  object-position: center; /* középre helyezés */
  display: block; /* eltünteti a képek alatti kis rést */
}
 

